@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  /* font-optical-sizing: auto; */
  box-sizing: border-box;
}

body,
#root {
  overflow-x: hidden;
}

:root {
  --bg-dashboard: #f3f3f6;
  --text-primary: #111827;
}

.dark {
  --bg-dashboard: #0f1115;
  --text-primary: #f9fafb;
}

#root {
  background: var(--bg-dashboard);
  color: var(--text-primary);
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.recharts-wrapper .recharts-surface:focus,
.recharts-wrapper .recharts-surface:hover {
  outline: none !important;
}

/* Theme Toggle Animation using View Transitions API */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 10;
}

::view-transition-new(root) {
  z-index: 999;
}

.light::view-transition-old(root) {
  z-index: 999;
}

.light::view-transition-new(root) {
  z-index: 10;
}

@keyframes reveal {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(150% at var(--x) var(--y));
  }
}

::view-transition-new(root) {
  animation: 700ms cubic-bezier(0.4, 0, 0.2, 1) reveal;
}

.light::view-transition-old(root) {
  animation: 700ms cubic-bezier(0.4, 0, 0.2, 1) reverse reveal;
}